button{
  border: 0px;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F9F9F9;
}

h1 {
  margin: 50px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #ECC5FB;
  font-size: 6rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  color: #9b56ef;
}

#blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

p {
  font-size: 3rem;
  color: #874ecc;
  font-family: 'Pacifico', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eb97f1;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}
